<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Планировщик заданий</title>
  <link rel="stylesheet" href="index.css"/>
  <script src="index.js"></script>
</head>
<body onload="onLoad()">
  <div class="wrapper">
    <div class="controls">
      <div class="fileSelectContainer">
        <label>Файл:</label>
        <select id="fileSelect">
          <% model.getFiles().forEach((file, index) => { %>
            <% if (model.getCurrentFile() === file) { %>
              <option value="<%=file %>" selected><%=file %></option>
            <% } else { %>
              <option value="<%=file %>"><%=file %></option>
            <% } %>
          <% }); %>
        </select><br/>
        <a href="/generate">Сгенерировать новый</a>
      </div>
      <div class="schedulerSelectContainer">
        <label>Планировщик:</label>
        <select id="schedulerSelect">
          <% model.getSchedulers().forEach((scheduler, index) => { %>
            <% if (model.getCurrentScheduler() === scheduler.getValue()) { %>
              <option value="<%=scheduler.getValue() %>" selected><%=scheduler.getName() %></option>
            <% } else { %>
              <option value="<%=scheduler.getValue() %>"><%=scheduler.getName() %></option>
            <% } %>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="table_title">Задачи:</div>
    <table class="tasks_table">
      <% var tasksDuration = Math.max.apply(null, model.getTasks().map(task => task.getStart() + task.getDuration())); %>
      <thead>
        <tr>
          <td class="table_headCell_first">такты →</td>
          <% for (var i = 0; i < tasksDuration; i++) { %>
            <td class="table_headCell"><%=i % 5 === 0 ? i : "" %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% model.getTasks().forEach((task, index) => { %>
          <tr>
            <td class="taskIndex"><%=index%></td>
            <% for (var i = 0; i < tasksDuration; i++) { %>
              <td class="<%= (task.getStart() <= i && i < task.getStart() + task.getDuration()) ? 'activeTask' : '' %>"></td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="table_title">План:</div>
    <table class="tasks_table">
      <% var schedule = model.getSchedule(); %>
      <thead>
        <tr>
          <td class="table_headCell_first">такты →</td>
          <% for (var i = 0; i < schedule.length; i++) { %>
            <td class="table_headCell"><%=i % 5 === 0 ? i : "" %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% model.getTasks().forEach((task, index) => { %>
          <tr>
            <td class="taskIndex"><%=index%></td>
            <% for (var i = 0; i < schedule.length; i++) { %>
              <td class="<%= schedule[i] === index ? 'activeTask' : '' %>"></td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>